
<li>Position: {{job.position}}</li>
<li>Remote: {{job.remote}}</li>
<li>Location: {{job.location}}</li>
<li>Salary: {{job.wage}}</li>
<li>Description: {{job.description}}</li>

<li>Company: {{job.companyName}}</li>
















