<div class="job-detail" >
<br>
Position: {{job.position}}
<hr />
Remote
<hr />
Location: {{job.location}}
<hr />
<Salary: {{job.wage}}€
<hr>
Description: {{job.description}}
<hr />

Company: {{job.companyName}}
<hr>

{{#if isJobSeeker}}
  <a href="/application-success" class="btn btn-secondary">I want to Apply</a>
{{/if}}

</div>