<div class="job-detail" style="padding-top: 130px;" >

Position: {{job.position}}

{{#if job.remote}}
<hr />
Remote 
{{/if}}
<hr />
Location: {{job.address}}
<hr />
<Salary: {{job.wage}}€
<hr>
Description: {{job.description}}
<hr />

Company: {{job.companyName}}
<hr>

{{#if amIJobSeeker}}
  <a href="/application-success/{{job._id}}" class="btn btn-secondary">I want to Apply</a>
{{/if}}

</div>