



<div class="container" style="padding-top: 120px;">
  <div class="row">
    <div class="col" style="height:400px; overflow: auto;">
      
      
{{#each foundedAll}}
  <div class="m-2 card">
    <div class="card-body">
      <h5 class="card-title">{{this.position}}</h5>

      <h6 class="card-subtitle mb-2 text-muted">{{this.address}}</h6>
      {{#if this.remote}}
        <h6 class="card-subtitle mb-2 text-muted">Remote</h6>
      {{/if}}
      <a href="/jobs/{{this._id}}/details" class="btn btn-secondary">Tell me
        more</a>
      <a href="/jobs/{{this._id}}/edit-job" class="btn btn-secondary">Edit</a>
   
      <form action="/jobs/{{this._id}}/delete" method="POST">
        <br>
     <button class="btn btn-secondary" type="submit">Delete</button>
      </form>
    </div>
  </div>
{{/each}}

    </div>
    <div class="col">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="height: 400px;">
            <img src="/images/org.jpeg" class="d-block w-100" style="height: 400px;" alt="img">
          </div>
        </div>
    </div>
  </div>
 </div> 